---
//@ts-ignore
import { Typetura, Headline, Pullquote, Blockquote, Caption, Meta, Section, Text } from 'astro-typetura';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<Typetura pack={'Brussels'} js base={40} scale={0.5} />
	</head>
	<body>
		<header>
			<Headline>Welcome Scott</Headline>
			<Headline sub>Typetura/withastro Components</Headline>
		</header>
		<main>
			<!-- <Heading sub>
		</Heading>
			<Text small>
			
			</Text> -->
			<div class="wrapper">
				<Headline>Primary Headline</Headline>
			</div>
			<div class="wraper">
				<Headline sub level="3">Sub Headline</Headline>
			</div>
			<div class="wraper">
				<Meta>Meta</Meta>
			</div>
			<div class="wraper">
				<Section>Section Headline</Section>
			</div>
			<div class="wraper">
				<Section sub>Section Sub-headline</Section>
			</div>
			<div class="wraper">
				<Section label level={4}>Section Label</Section>
			</div>
			<div class="wraper">
				<Text>Section Headline</Text>
			</div>
			<div class="wraper">
				<Text>Big text</Text>
				<Text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consectetur.</Text>
			</div>
			<div class="wraper">
				<Text small>Small Text</Text>
				<Text small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, laudantium!</Text>
			</div>
			<div class="wraper">
				<Caption>Caption Text</Caption>
				<Caption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ducimus!</Caption>
			</div>
			<div class="wraper">
				<Blockquote>A Block Quote</Blockquote>
				<Pullquote>A Pull Quote</Pullquote>
			</div>
		</main>
	</body>
</html>
