---
import { Typetura } from 'astro-typetura';

console.log(Typetura);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<Typetura pack="brooklyn" base={15} scale={0.5} />
	</head>
	<body>
		<header>
			<h1>Typetura</h1>
			<h2>Astro Component</h2>
		</header>
		<main>
		<!-- <Heading sub>
		</Heading>
			<Text small>
			
			</Text> -->
			<div class="wrapper">
				<h1 class="primary-headline">Primary Headline</h1>
			</div>
			<div class="wraper">
				<h2 class="primary-subheadline">Sub Headline</h2>
			</div>
			<div class="wraper">
				<h3 class="meta">Meta</h3>
			</div>
			<div class="wraper">
				<h2 class="section-headline">Section Headline</h2>
			</div>
			<div class="wraper">
				<h3 class="section-subheadline">Section Sub-headline</h3>
			</div>
			<div class="wraper">
				<h4 class="section-label">Section Label</h4>
			</div>
			<div class="wraper">
				<p class="big">Section Headline</p>
			</div>
			<div class="wraper">
				<p class="big">Big text</p>
				<p class="big">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consectetur.</p>
			</div>
			<div class="wraper">
				<p class="small">Small Text</p>
				<p class="small">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, laudantium!</p>
			</div>
			<div class="wraper">
				<p class="caption">Caption Text</p>
				<p class="caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ducimus!</p>
			</div>
			<div class="wraper">
				<p class="pullquote">A Pull Quote</p>
				<p class="pullquote">Lorem ipsum dolor sit.</p>
			</div>
		</main>
	</body>
</html>
