---

import { Typetura, Pullquote, Blockquote, Caption, Meta, SectionHeadline, SectionSubHeadline, Text, SubHeadline, Headline } from 'astro-typetura/components';



---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<Typetura  pack={'Santa Fe'} js base={40} scale={1.5} />
	</head>
	<body>
		<header>
			
			<Headline >Welcome Scott</Headline>
			<SubHeadline base={42}>Typetura/withastro Components</SubHeadline>
		</header>
		<main>
			<!-- <Heading sub>
		</Heading>
			<Text small>
			
			</Text> -->
			<div class="wrapper">
				<Headline>Primary Headline</Headline>
			</div>
			<div class="wraper">
				<SubHeadline  level="5" base={42}>Sub Headline</SubHeadline>
				<SubHeadline>Sub Headline</SubHeadline>
			</div>
			<div class="wraper">
				<Meta>Meta</Meta>
			</div>
			<div class="wraper">
				SectionHeadline
				<SectionHeadline  base={50} >Section Headline</SectionHeadline>
			</div>
			<div class="wraper">
				SectionSubheadline
				<SectionSubHeadline ease="easy">Section Sub-headline</SectionSubHeadline>
			</div>
			<div class="wraper">SectionLabel</div>
			<div class="wraper">
				<Text>Section Headline</Text>
			</div>
			<div class="wraper">
				<Text big>Big text</Text>
				<Text big>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consectetur.</Text>
			</div>
			<div class="wraper">
				<Text small>Small Text</Text>
				<Text small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, laudantium!</Text>
			</div>
			<div class="wraper">
				<Caption>Caption Text</Caption>
				<Caption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ducimus!</Caption>
			</div>
			<div class="wraper">
				<Blockquote>A Block Quote</Blockquote>
				<Pullquote>A Pull Quote</Pullquote>
			</div>
		</main>
	</body>
</html>
